@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  this webapp is to show using D3, building up the script files then showing in views
  <br /> this is really basic
</div>
