@{
    ViewData["Title"] = "Pie Charts";

    List<TileModel> tiles = new List<TileModel>();

    if (ViewBag.Tiles != null)
    {
      tiles = ViewBag.Tiles;
    }
}

<div class="card-deck">
  <div class="card-columns">
@foreach(var tile in tiles)
{
      <div class="card">
      <!--
        <img class="card-img-top" src="..." alt="Card image cap">
        -->
      <div class="card-header">
        <h4>@tile.Title</h4>
      </div>
      <div class="card-body">
        <!--
          <h5 class="card-title">
            Card title
          </h5>
          -->
        <!--
          <h6 class="card-title">
            Description
          </h6>
          -->
        <p class="card-text">
          @tile.Description
        </p>
        @*
        <!--
          <h6 class="card-title">Elements</h6>
          -->  
              <div class="list-group">

                <a  href="#" 
                    class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-primary disabled">
                    Stylesheets
                    <span class="badge badge-primary badge-pill">
                      3 files
                    </span>
                </a>
                <a  href="#" 
                    class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-primary disabled">
                    Scripts
                    <span class="badge badge-primary badge-pill">
                      7 files
                    </span>
                </a>              

              </div>
        *@
      </div>
      
      <div class="card-footer">

        <a href="@tile.Link" 
           class="btn btn-success btn-sm">
           View Chart
        </a>        
        <small class="text-muted">Real basic example</small>        
      </div>
    </div>
}
  </div>
</div>