/*
             * set size of our svg element canvas
             */
             svg
             {
                 width: 1375px;
                 height:875px;
                 border: 3px solid green;
                 transform-origin: 0 0;
             }
 
             /*
              * group styles only show if no fill 
              * from child elements, these apply
              * to the parent elements/containers
              */
             g.rectangleClass
             {
                 border: 3px solid red;
             }
 
             g.circlesClass
             {
                 border: 3px solid blue;
             }

             g.TextpartsClass
             {
                 border: 3px solid green;
             }

             /*
              * when showing grid lines, make them barely visible
              * otherwise nasty on the eyes
              */
             .grid line
             {
                 stroke: lightgrey;
                 stroke-opacity: 0.5;
                 shape-rendering: crispEdges;
             }