@{
    ViewData["Title"] = "Home Page";
}

<div>
  these are the test page charts
  <ul>
    <li>
      <a href="#">one</a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="DataJson">Data from Json file</a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="DataMerge">Data merge</a>
    </li>
  </ul>
</div>