@{
    ViewData["Title"] = "Home Page";
}

<div>
  these are the test page charts
  <ul>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="Basics">
        chart basics
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="LineChart">
        line chart
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="MultipleLines">
        multiple lines
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="Refactor">
        refactored for reuse 
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="LinesFromData">
        Line generation from data array
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="SquarePower">
        Y axis (vertical) scaled power 
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="SquareRoot">
        Y axis (vertical) Square root 
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="Curve">
        Interprolation Curve
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="Legend">
        Legend for the chart
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="CirclePoints">
        Circle points in chart
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="DataCsv">
        Data from csv file
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="DataJson">
        Data from Json file
      </a>
    </li>
    <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="DataApi">
        Data api json 
      </a>
    </li>
        <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="RandomDataApi">
        random json data from api
      </a>
    </li>
        <li>
      <a class="nav-link text-dark" asp-controller="Chart" asp-action="DataMerge">
        data merge 
      </a>
    </li>
  </ul>
</div>